<div class="manager-layer">
    <div class="center">
        <div class="manager-info">
            {{#if signedIn}}
                <div class="sign-in manager-main">
                    <div class="manager-title">
                        {{email}}님 환영합니다.
                    </div>
                    <div class="manager-login">
                        <div class="seoul-bottom-menu">
                            <div class="seoul-signed-in">
                                {{#if avatar}}
                                <div class="seoul-manager-icon" style="background-image: url({{avatar}})"></div>
                                {{else}}
                                <div class="seoul-manager-icon">
                                    <i class="fa fa-user"></i>
                                </div>
                                {{/if}}
                                <div class="seoul-manager-email">
                                    {{email}}님
                                </div>
                            </div>
                            <ul class="seoul-bottom-menu-list">
                                <li id="seoul-admin">관리자 page</li>
                                <li id="seoul-setting">관리자 정보변경</li>
                                <li id="seoul-main">메인화면</li>
                            </ul>
                        </div>
                    </div>
                    <div class="manager-login-btn">
                        <button class="seoul-manager-cancel">취소</button>
                        <span id="seoul-sign-out" class="seoul-manager-toggle">LogOut</span>
                    </div>
                </div>
            {{else}}
                <div class="seoul-sign-in">
                    <div class="sign-in manager-title">
                        관리자 로그인
                    </div>
                    <div class="sign-up manager-title">
                        관리자 회원가입
                    </div>
                    <div class="sign-in manager-main">
                        <div class="manager-login">
                            <ul class="manager-idpw">
                                <li>
                                    <div>아이디</div>
                                    <input id="seoul-sign-in-id" type="text">
                                </li>
                                <li>
                                    <div>비밀번호</div>
                                    <input id="seoul-sign-in-pw" type="password">
                                </li>
                            </ul>
                            <div class="manager-find checkbox">
                                <label>
                                    <input id="seoul-sign-in-remember" type="checkbox">
                                    아이디/비밀번호 기억
                                </label>
                                <label>
                                    <input type="checkbox">
                                    보안로그인(SSL)
                                </label>
                            </div>
                        </div>
                        <div class="manager-login-btn">
                            <button class="seoul-manager-cancel">취소</button>
                            <button id="seoul-sign-in" class="seoul-manager-login">로그인</button>
                            <span class="seoul-manager-toggle">회원가입</span>
                        </div>
                    </div>
                    <div class="sign-up manager-main">
                        <div class="manager-login">
                            <ul class="manager-idpw">
                                <li>
                                    <div>아이디</div>
                                    <input id="seoul-sign-up-id" type="text">
                                </li>
                                <li>
                                    <div>비밀번호</div>
                                    <input id="seoul-sign-up-pw" type="password">
                                </li>
                            </ul>
                            <div class="manager-find checkbox">
                                <label>
                                    <input id="seoul-sign-up-agree" type="checkbox" checked>
                                    약관 동의
                                </label>
                            </div>
                        </div>
                        <div class="manager-login-btn">
                            <button class="seoul-manager-cancel">취소</button>
                            <button id="seoul-sign-up" class="seoul-manager-login">회원가입</button>
                            <span class="seoul-manager-toggle">로그인</span>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</div>