<li>
    <div class="seoul-menu-text" seoul-id="{{id}}" {{#if subId}}sub-id="{{subId}}"{{/if}}>
        {{name}}
    </div>
    {{#if subMenu}}
    <ul class="seoul-sub-menu">
        {{#each subMenu ~}}
            <li seoul-id="{{id}}" {{#if subId}}sub-id="{{subId}}"{{/if}}>{{name~}}
            {{#if subSub ~}}
                <ul class="seoul-sub-sub">
                    {{#each subSub~}}
                        <li seoul-id="{{id}}">{{name}}</li>
                    {{~/each}}
                </ul>
            {{/if}}
            </li>
        {{~/each}}
    </ul>
    {{/if}}
</li>