<li>
    <div class="seoul-menu-img"
         style="background-image: url({{img}})">
    </div>
    <div class="seoul-menu-title" about-id="{{id}}" sub-id="{{subId}}">
        {{title}}
    </div>
    <div class="seoul-menu-sub">
        {{sub}}
    </div>
    {{#if date}}
    <div class="seoul-menu-date">
        {{date}}
    </div>
    {{/if}}
</li>